<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>{{pageTitle}}</title>
 </head>
 <body>
   <h1>Sie sind portfolio!</h1>
   <p>{{screamIt myPortfolio}}</p>

  {{> footer}}
 </body>
</html>
